<header>
  <h1>New Transaction Type</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</header>

<main class="form">
  <form>
    <div class="field">
      <select name="accountGuid">
        {{#each accountOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      {{#if errors.accountUuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.accountUuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <select name="parentGuid">
        {{#each systemTransactionTypeOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      {{#if errors.parentGuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.parentGuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="name" placeholder="Name" value="{{name}}"></input>

      {{#if errors.name}}
        <ol class="input-messages">
          <li class="input-error">{{errors.name}}</li>
        </ol>
      {{/if}}
    </div>

    <button type="submit">Create</button>
  </form>
</main>
