<header>
  <h1>Budget</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</header>

<main class="form">
  <form>
    <div class="field">
      <select name="transactionTypeGuid">
        {{#each transactionTypeOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      <a class="new-transaction-type" href="#">New Transaction Type</a>

      {{#if errors.transactionTypeGuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.transactionTypeGuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <select name="accountGuid">
        {{#each accountOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      <a class="new-account" href="#">New Account</a>

      {{#if errors.accountGuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.accountGuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="minAmount" placeholder="Min Amount" value="{{minAmount}}"></input>

      {{#if errors.minAmount}}
        <ol class="input-messages">
          <li class="input-error">{{errors.minAmount}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="maxAmount" placeholder="Max Amount" value="{{maxAmount}}"></input>

      {{#if errors.maxAmount}}
        <ol class="input-messages">
          <li class="input-error">{{errors.maxAmount}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="minDate" placeholder="Min Date" value="{{minDate}}"></input>

      {{#if errors.minDate}}
        <ol class="input-messages">
          <li class="input-error">{{errors.minDate}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="maxDate" placeholder="Max Date" value="{{maxDate}}"></input>

      {{#if errors.maxDate}}
        <ol class="input-messages">
          <li class="input-error">{{errors.maxDate}}</li>
        </ol>
      {{/if}}
    </div>

    <button type="submit">Create</button>
  </form>
</main>
