<header>
  <h1>New Transaction</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
  </ul>
</header>

<main class="form">
  <form>
    <div class="field">
      <select name="accountGuid">
        {{#each accountOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      {{#if errors.accountGuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.accountGuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <select name="transactionTypeGuid">
        {{#each transactionTypeOptions}}
          <option value="{{guid}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
        {{/each}}
      </select>

      {{#if errors.transactionTypeGuid}}
        <ol class="input-messages">
          <li class="input-error">{{errors.transactionTypeGuid}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="amount" placeholder="Amount" value="{{amount}}"></input>

      {{#if errors.amount}}
        <ol class="input-messages">
          <li class="input-error">{{errors.amount}}</li>
        </ol>
      {{/if}}
    </div>

    <div class="field">
      <input type="text" name="date" placeholder="Date" value="{{date}}"></input>

      {{#if errors.date}}
        <ol class="input-messages">
          <li class="input-error">{{errors.date}}</li>
        </ol>
      {{/if}}
    </div>

    <button type="submit">Create</button>
  </form>
</main>
