<div class="header">
  <h1>Gran Mal</h1>

  <ul class="right-actions">
    <li>
      <a href="#" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<form action="/sign-up" method="POST" >

  <div class="field">
    <input type="email" name="email" placeholder="Email" value="{{email}}">

    {{#if errors.email}}
      <ol class="input-messages">
        <li class="input-error">{{errors.email}}</li>
      </ol>
    {{/if}}
  </div>

  <div class="field">
    <input type="password" name="password" placeholder="Password" value="{{password}}">

    {{#if errors.password}}
      <ol class="input-messages">
        <li class="input-error">{{errors.password}}</li>
      </ol>
    {{/if}}
  </div>

  <div class="field">
    <input type="text" name="handle" placeholder="Username" value="{{handle}}">

    {{#if errors.handle}}
      <ol class="input-messages">
        <li class="input-error">{{errors.handle}}</li>
      </ol>
    {{/if}}
  </div>

  <div class="field">
    <input type="text" name="name" placeholder="Full Name" value="{{name}}">

    {{#if errors.name}}
      <ol class="input-messages">
        <li class="input-error">{{errors.name}}</li>
      </ol>
    {{/if}}
  </div>

  <button type="submit">Sign Up</button>

  <ul class="alternate-actions">
    <li><a class="sign-in" href="#">Sign In</a></li>
  </ul>

</form>
